.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Задайте минимальную высоту для контейнера */
}

.mainContent {
  flex: 1; /* Растяните основное содержимое, чтобы занимать все доступное пространство */
}
